body {
    background-image: url("/images/acheron.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position-y: 127px; */
}

p{
    color: black;
    font-size: 450%;
    text-align: center;
    font-family: 'Courier New', monospace;
    font-style: italic;
}